@keyframes typing {

    from { width: 0 }
    to { width: 100% }
}

body {
    
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(43, 54, 88);
}

h1 {
    overflow: hidden;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.03em;
    white-space: nowrap;
    color: cornsilk;
    animation: typing;
    animation-duration: 3s;
    animation-timing-function: steps(250, end);
    margin-bottom: 30px;
}

h2 {

    margin-left: auto;
    margin-right: auto;
    max-width: 225px;
    color: cornsilk;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 1400px;
    
}

form input {
    width: 50px; 
    margin-top: 0.3em;
    margin-left: 5px;
    
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: cornsilk;
    text-align: center;
    font-size: large;
    background-color: rgba(223, 209, 17, 0.658);
    
}

footer p {
    margin-bottom: 4px;
    margin-top: 4px;
    
}

#matrixDiv {
    margin-left: auto;
    margin-right: auto;
}

#generateMatrix {
   width: 200px;
   margin-left: auto;
   margin-right: auto;
}

#dimensionsInput {
    width: 50px;
}


label {
    color: cornsilk;
    margin-left: auto;
    margin-right: auto; 
   
}

#matrixControls {

    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

#submit-matrix, #randomize, #createMatrixButton {
    width: 125px;
    height: 30px;
    margin-top: 1em;
    margin-left: 2em;

    background-color: rgb(175, 218, 215);
    border: none;
    
}

#submit-matrix:hover, #randomize:hover, #createMatrixButton:hover {

    background-color: rgb(48, 182, 43);
}







